{% extends 'base.html' %}
{% block main %}

<div class="container" style="padding:100px">

    <div>
        <div>
            <h2 class="text-center">Audit Details</h2>
            <br>
            <p>campaign - <span style="font-weight: bold;font-size: 20px;margin-left: 20px;">{{coaching.process}}</span></p>
            {% if coaching.overall_score == 100 %}
            <p>Result - <span style="font-weight: bold;font-size: 20px;margin-left: 20px;color:Green">Pass</span></p>
            {% else %}
            <p>Result - <span style="font-weight: bold;font-size: 20px;margin-left: 20px;color:Red">Fail</span></p>
            {% endif %}
            <p>Training : {{coaching.training}}</p>
            <table class="table table-bordered">
                <tr>
                    <td><b>Emp Name</b></td>
                    <td>{{coaching.associate_name}}</td>
                    <td><b>Emp ID</b></td>
                    <td>{{coaching.emp_id}}</td>
                </tr>
                <tr>
                  <td><b>QA</b></td>
                  <td>{{coaching.qa}}</td>
                  <td><b>Team Lead</b></td>
                  <td>{{coaching.team_lead}}</td>
                </tr>
                <tr>
                  <td><b>Transaction Date</b></td>
                  <td>{{coaching.trans_date}}</td>
                  <td><b>Conversation ID</b></td>
                  <td>{{coaching.conversation_id}}</td>
                </tr>
            </table>

        </div>
        <div style="margin-left:50px">

                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Chat Opening (Greetings & being attentive) & Closing</label>
                        <label for="" class="practo_gn">PSS should greet the user,at the opening of the chat. PSS should be attentive and use correct greeting based on the time. PSS should offer further assistance and follow the chat closing script. Branding, PSS introduction should be present, If the user has already mentioned about the query then, avoid asking "How may I assist you?"</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_1}}</h4>
                    </div>
                </div>
                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">FRTAT</label>
                        <label for="" class="practo_gn">PSS Should start the chat conversation within 1 minute from the time of chat allocation.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_2}}</h4>
                    </div>
                </div>

                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Addressing the user/Personalisation of chat</label>
                        <label for="" class="practo_gn">PSS should address the user with his/her name when the name displayed on the chat with appropriate title. If the user has updated some other name like cookies, unicorn, ball etc, probe for the user's anme aand then address the user's name.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_3}}</h4>
                    </div>
                </div>

                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Assurance & Acknowledgement</label>
                        <label for="" class="practo_gn">PSS should provide the assurance to the user on the issue resolution/query. PSS should also acknowledge the user's query and provide timely acknowledgements throughout the chat. For eg. I do understand your concern, I will certainly help you with this, Glad to hear that, I certainly get your point and I will definitely see what best I can do for you etc</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_4}}</h4>
                    </div>
                </div>

                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Coherence (understanding the issue) being attentive on chat.</label>
                        <label for="" class="practo_gn">PSS should be attentive, read and understand the user's query carefully and pay attention to the details provided by the user</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_5}}</h4>
                    </div>
                </div>

                 <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Probing</label>
                        <label for="" class="practo_gn">PSS should do relevant probing and probe the user correctly to identify the root cause. PSS should be attentive and avoid unnecessary probing. PSS should never assume and provide resolution and it should be confirmed with the user on the chat.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_6}}</h4>
                    </div>
                </div>
                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Interaction: Empathy , Profressional, care</label>
                        <label for="" class="practo_gn">PSS should empathize/apologize to the user at the right time and provide assurance whenever required in the chat. PSS should maintain professionalism in his/her responses, should display emapthy and care.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_7}}</h4>
                    </div>
                </div>

                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Grammar:</label>
                        <label for="" class="practo_gn">PSS should use correct punctuation, capitalization and proofread for inaccuracies/typos and spacing errors.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_8}}</h4>
                    </div>
                </div>

                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Relavant responses</label>
                        <label for="" class="practo_gn">Sharing incorrect or wrong message (Incorrect window). Shared a wrong/irrelevant response wih the user.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_9}}</h4>
                    </div>
                </div>

                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Being courteous & using plesantries</label>
                        <label for="" class="practo_gn">PSS should be courteous & use pleasantries in the chat. Example: while probing the user/When the user agreed to wait/Thanking the user for sharing the information/Customer connect. Any feel good statements - It was pleasure assisting you etc</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_10}}</h4>
                    </div>
                </div>
                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Process followed</label>
                        <label for="" class="practo_gn">PSS should follow the set process(SOP) for any given query. Follow the escalation metrics. PSS should use all the relevant tools in order to provide resolution. Checking the details in the respective dashboard, updating and checking the trackers, slack channel, PE process document and then providing the resolution etc. Following the appropriate and standard format while sending emails to the internal team whereaver applicable. Following the verification process for the medicines order.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_11}}</h4>
                    </div>
                </div>
                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Explanation skills (Reasoning) & Rebuttal Handling</label>
                        <label for="" class="practo_gn">PSS should provide proper explanation/reasoning in the chat. The resolution needs to be explained in a simple manner specifying all the details available and should not use any jargons, like "Inventory unavailable, moderation dashboard, fulfillment pending stage" etc. Pss should not sound repititive, and should attempt a different approach to explain the response instead of copy pasting the same response. Sharing the alternatives whenever applicable. PSS should handle the customer objections in an effective manner.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_12}}</h4>
                    </div>
                </div>
                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Sharing the information in a sequential manner</label>
                        <label for="" class="practo_gn">Sharing the information in a sequential and understandable manner. In case of multiple queries, resolution needs to be provided in a sequential manner, also In case where we need to provide Prime online or inclinic book steps it should be always followed by the doctor's or enahnced listing URL. If there is cancellation as the user wanted inclinic instead of onlone consultation, then after confirming for the cancellation and refund process, share the link and the steps followed by the refund details.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_13}}</h4>
                    </div>
                </div>

                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Case Documentation</label>
                        <label for="" class="practo_gn">PSS should update respective dashboard link for that particular transaction, Remedy dashboard link/Consult dashboardlink/Diagnostic dashboard link/ ARM/Payment/Plus etc in the private note. In case of any query leading to cancellation, payment dashboard link of that particular transaction needs to be documented.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_14}}</h4>
                    </div>
                </div>

                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Curation</label>
                        <label for="" class="practo_gn">PSS should select the correct issue type and sub-issue types in every chat.(labels)</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_15}}</h4>
                    </div>
                </div>

                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Average speed of answer</label>
                        <label for="" class="practo_gn">Pss should provide timely responses throughout the chat(2mins). PSS should retreive the chat from hold as per the promised time.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_16}}</h4>
                    </div>
                </div>

                <!-------------------------------------------------->
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Chat Hold Procedure &: Taking Perrmission before putting the chat on hold.</label>
                        <label for="" class="practo_gn">PSS should provide responses within 2 minutes unless hold procedure is being followed. PSS should refresh the hold time or respond to the user within 5 minutes from the holdtime. A hold time of 5-10 minutes can be followed while checking with the backend team when required(RX, Book, DX, and Consult). PSS should thank the user after refreshing/released the hold.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.p_17}}</h4>
                    </div>
                </div>

                <!------------ Fatal -------------------->
                <div style="margin-top:30px"><h4>Fatal</h4></div>
                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">Expectations: Setting correct expectations about issue resolution</label>
                        <label for="" class="practo_gn">PSS should share correct, complete and accurate information. PSS should refrain from setting any wrong expectation with the user.</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.compliance_1}}</h4>
                    </div>
                </div>

                <div class="row" style="margin-top:30px">
                    <div class="col-md-7">
                        <label for="" class="practo_qn">ZTP(Zero Tolerance Policy)</label>
                        <label for="" class="practo_gn">1. For any rude/abusive/sarcastic behaviour.
                        2. Abrupt closure/transfer of the chat.
                        3. Asking for user's personal details
                        4. Asking for user's and doctor's consultation screenshots etc
                        5. Any willingness issues to assist the user
                        6. Any unethical practices followed in the interaction</label>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4 practo_ans">
                        <h4 style="margin-top:30px">{{coaching.compliance_2}}</h4>
                    </div>
                </div>

        </div>
        <br>
            <h4>Auditor Comments</h4>
            <table class="table table-bordered">
                <tr style="height:110px">
                  <td style="width: 300px;"><b>Areas of Improvement</b></td>
                  <td>{{coaching.areas_improvement}}</td>
                </tr>
                <tr style="height:110px">
                  <td style="width: 300px;"><b>Positives</b></td>
                  <td>{{coaching.positives}}</td>
                </tr>
                <tr style="height:110px">
                  <td style="width: 300px;"><b>Comments</b></td>
                  <td>{{coaching.comments}}</td>
                </tr>
            </table>
            <h4>Audit Score</h4>
            <table class="table table-bordered">
                <tr>
                  <td><b>Total</b></td>
                  <td><h2><b>{{coaching.overall_score}}</b></h2></td>
                </tr>
            </table>
    </div>
    <div>
            <form class="login-form" action="/employees/coaching/signcoaching/{{coaching.id}}" method="post">
                          {% csrf_token %}
                <label for="emp_comments">Employee Comments *</label><br>
                <textarea name="emp_comments" id="emp_comments" cols="30" rows="5" required class="form-control"></textarea>
                <input type="hidden" value="{{coaching.process}}" name="category">
                <br>
                <input class="btn btn-success" type="submit" value="Accept & Sign" style="width: 150px">
            </form>
            <br>
            <form action="/employees/coaching-dispute/{{coaching.id}}" method="POST">
                {% csrf_token %}
                <label for="emp_comments_d">Employee Comments *</label><br>
                <textarea name="emp_comments_dispute" id="emp_comments_d" cols="30" rows="5" required class="form-control"></textarea>
                <input type="hidden" name="campaign" id="" value="{{coaching.process}}">
                <br><button class="btn btn-danger" style="width: 150px">Reject & Dispute</button>
            </form>

        </div>
</div>


{% endblock %}