{% extends 'base.html' %}
{% block main %}

    <section id="outboundform">
        <div class="container-lg">
            <form action="/employees/gubagoo-audit-submit" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="text-center">Gubagoo</h2>
                <div class="basic">
                    <div class="row">
                        <div>
                            <h4>GREETING</h4>
                            <table class="table">
                                <tr>
                                    <td>Category</td>
                                    <td>Chat 1</td>
                                    <td>Chat 2</td>
                                    <td>Chat 3</td>
                                    <td>Chat 4</td>
                                    <td>Chat 5</td>
                                    <td>Chat 6</td>
                                </tr>
                                <tr>
                                    <td class="qn">Was there a greeting?</td>
                                    <td>
                                        <select name="cat1chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat1chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat1chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat1chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat1chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat1chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="qn">Proper greeting?</td>
                                    <td>
                                        <select name="cat2chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat2chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat2chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat2chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat2chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat2chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <h4>QUESTIONS</h4>
                            <table class="table">
                                <tr>
                                    <td class="qn">Did you ask all relevant questions?</td>
                                    <td>
                                        <select name="cat3chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat3chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat3chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat3chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat3chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat3chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="qn">Were questions answered and/or relevant information/inventory pushed?</td>
                                    <td>
                                        <select name="cat4chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat4chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat4chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat4chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat4chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat4chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <h4>LEAD</h4>
                            <table class="table">
                                <tr>
                                    <td class="qn">Was the appropriate lead generation used, and at the right time?</td>
                                    <td>
                                        <select name="cat5chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat5chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat5chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat5chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat5chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat5chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="qn">Did the lead generation encompass all of the guests needs?</td>
                                    <td>
                                        <select name="cat6chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat6chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat6chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat6chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat6chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat6chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="qn">Did the customer provide all contact information OR was missing information properly gathered?</td>
                                    <td>
                                        <select name="cat7chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat7chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat7chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat7chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat7chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat7chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="qn">Was the chat properly recapped/ended?</td>
                                    <td>
                                        <select name="cat8chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat8chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat8chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat8chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat8chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat8chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div>
                            <h4>LEAD FORM</h4>
                            <table class="table">
                                <tr>
                                    <td class="qn">Was it sent to the correct department? If PSA, was it dispositioned correctly?</td>
                                    <td>
                                        <select name="cat9chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat9chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat9chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat9chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat9chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat9chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="qn">Was everything within the lead filled out properly?</td>
                                    <td>
                                        <select name="cat10chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat10chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat10chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat10chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat10chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat10chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <h4>TIMING</h4>
                            <table class="table">
                                <tr>
                                    <td class="qn">Was it sent to the correct department? If PSA, was it dispositioned correctly?</td>
                                    <td>
                                        <select name="cat11chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat11chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat11chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat11chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat11chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat11chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="qn">Was everything within the lead filled out properly?</td>
                                    <td>
                                        <select name="cat12chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat12chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat12chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat12chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat12chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat12chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="qn">Was everything within the lead filled out properly?</td>
                                    <td>
                                        <select name="cat13chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat13chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat13chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat13chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat13chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat13chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <h4>CUSTOMER EXPERIENCE</h4>
                            <table class="table">
                                <tr>
                                    <td class="qn">Were there less than 3 grammatical mistakes?</td>
                                    <td>
                                        <select name="cat14chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat14chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat14chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat14chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat14chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat14chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="qn">Was the guest satisfied with the way the operator handled the chat?</td>
                                    <td>
                                        <select name="cat15chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat15chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat15chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat15chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat15chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat15chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="qn">Auto-fail</td>
                                    <td>
                                        <select name="cat16chat1" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat16chat2" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat16chat3" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat16chat4" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat16chat5" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select name="cat16chat6" id="">
                                            <option value="y">Excelling</option>
                                            <option value="p">Partial</option>
                                            <option value="n">Failing</option>
                                            <option value="na">NA</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>


{% endblock %}