{% extends 'base.html' %}
{% block main %}
{% load static %}

<section class="profile_1" style="background-image: url(/static/images/dashboard.jpg);height: 400px;background-size: cover;">

    <div class="container-fluid" style="background: #2f374e;opacity: 77%;height: 400px">
        <div class="row">
            <div class="col-md-6">
                <div style="padding: 50px 40px;margin-top:75px">

                    <div style="color:white;line-height:26px">

                        <h4 style="color:white"><small style="color:#ffeb3b"></small>{{user.profile.emp_name}}</h4><br>
                        <div style="margin-left:30px;">
                            <span style="color:lightgrey"><small style="color:#ffeb3b"><i>Emp ID :</i></small>{{user.profile.emp_id}}</span><br>
                            <span style="color:lightgrey"><small style="color:#ffeb3b"><i>Team :</i></small>{{user.profile.team}}</span><br>
                            <span style="color:lightgrey"><small style="color:#ffeb3b"><i>Designation :</i></small>{{user.profile.emp_desi}}</span><br>
                            <small style="color:#ffeb3b">Overall Quality Score</small>
                            <h1>{{overall_score}}%</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-lg">
    <div class="row" style="margin-top:-110px">
        <div class="col-md-8">

        </div>
        <div class="col-md-2">
            <div style="background: #10263a;padding: 15px 15px;box-shadow: 1px 1px 10px black;margin: 10px;color: white">
                <p>Total Feedbacks</p>
                <p style="font-weight: 600;font-size: 22px;margin-left: 25%;color: #f7ffb9;">{{total_coachings}}</p>
            </div>
        </div>
        <div class="col-md-2">
            <div style="background: #10263a;padding: 15px 15px;box-shadow: 1px 1px 10px black;margin: 10px;color: white">
                <p>Open Feedbacks</p>
                <p style="font-weight: 600;font-size: 22px;margin-left: 25%;color: #f9ac3a;">{{total_open}}</p>
            </div>
        </div>

    </div>
</div>


<div class="container-lg" style="margin-top:100px">
    <div class="row">
        <div class="col-md-4">
            <h4 style="font-weight: 600;letter-spacing: 7px;color:#a0616a">Campaign Scores</h4>
            <br>
            <div class="row">
            {% for i in avg_campaignwise %}
                {% for j in i %}
                <div class="col-md-12">
                    <span style="font-size: 14px;margin-left: 30px"><i>{{j.process}}</i> :<small style="font-size:22px;color:Darkgreen;">{{j.davg|floatformat:2}}%</small></span>

                </div>
                {% endfor %}
        {% endfor%}
                </div>
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/report4.png' %}" alt="" class="img-fluid">
        </div>
        <div class="col-md-4">
            <h4 style="font-weight: 600;letter-spacing: 7px;color:#a0616a">Failed and Fatal List</h4>
            <br>
            <div class="row">
                {% for i in camp_wise_count %}
                {% for j in i %}
                    <div class="col-md-12">
                        <div style="margin-left:30px">
                            <span style="font-size:14px"><i>{{j.process}}</i> :</span>
                            <span style="font-size: 12px;color: darkblue;">Failed Audits</span>
                            <span style="font-weight: 600;font-size: 22px">{{j.dcount}}</span>
                            <span style="font-size: 12px;color: darkblue;">Fatal Parameters</span>
                            <span style="font-weight: 600;font-size: 22px">{{j.dfcount}}</span>
                        </div>
                    </div>
                {% endfor %}
                {% endfor%}
            </div>
        </div>
    </div>
</div>

<section style="padding:50px 0px">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-12" style="margin-top:50px">
                 <h4 style="font-weight: 600;letter-spacing: 7px;color:#a0616a">List of Open Coachings</h4>
                <br>
                    <div class="row" style="overflow: scroll;height: 300px;">
                        <table class="table">
                            <tr>
                                <th>Process</th>
                                <th>Date</th>
                                <th>Score</th>
                                <th>Result</th>
                                <th>Customer Name</th>
                                <th>QA</th>
                                <th>View</th>
                            </tr>

                            {% for i in open_coaching %}
                                {% for j in i %}

                            <tr style="line-height: 2px">
                                <td>{{j.process}}</td>
                                <td>{{j.audit_date}}</td>
                                <td>{{j.overall_score}}</td>
                                {% if j.overall_score < 100 %}
                                <td>Fail</td>
                                {% else %}
                                <td>Pass</td>
                                {% endif %}
                                <td>{{j.customer_name}}</td>
                                <td>{{j.qa}}</td>
                                <td><a href="/employees/coaching-view-emp/{{j.process}}/{{j.id}}"><br>View</a></td>
                            </tr>

                                {% endfor %}
                            {% endfor %}

                        </table>
                    </div>
                <br>
                <h4 style="font-weight: 600;letter-spacing: 7px;color:#a0616a">List of Dispute Coachings</h4>
                <br>
                <div style="overflow: scroll;height: 300px;">
                        <table class="table">
                            <tr>
                                <th>Process</th>
                                <th>Date</th>
                                <th>Score</th>
                                <th>Result</th>
                                <th>customer Name</th>
                                <th>View</th>

                            </tr>

                            {% for i in disput_coaching %}
                                {% for j in i %}
                            <tr style="line-height: 2px">
                                <td>{{j.process}}</td>
                                <td>{{j.audit_date}}</td>
                                <td>{{j.overall_score}}</td>
                                {% if j.overall_score < 100 %}
                                <td>Fail</td>
                                {% else %}
                                <td>Pass</td>
                                {% endif %}
                                <td>{{j.customer_name}}</td>
                                <td><a href="/employees/coaching-view-emp/{{j.process}}/{{j.id}}"><br>View</a></td>
                            </tr>

                                {% endfor %}
                            {% endfor %}

                        </table>
                    </div>

        </div>


    </div>
    </div>
</section>

<!--
<div>
    <div class="col-md-1"></div>
            <div class="col-md-4">
                <div>
                    <div style="padding: 20px;color:black;">
                        <div class="container-lg">
                            <div class="row">
                                <div class="col-md-6" style="padding: 20px 20px">
                                    <div>
                                        <h2 style="color:grey">View Feedbacks</h2>
                                        <br>
                                        <form action="/employees/campaign-wise-coaching-view-agent" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <h6>Campaign</h6>
                                            <select name="team_id" id="camp" class="form-control" style="width: 300px;font-size: 12px;height:auto;">
                                                {% for team in teams %}
                                                <option value="{{team.id}}">{{team.name}}</option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                            <h6>status</h6>
                                            <select name="status" id="" class="form-control" style="width: 300px;font-size: 12px;height: auto">
                                                <option value="all">All</option>
                                                <option value="False">Open status</option>
                                            </select><br>
                                            <h6>Date</h6>
                                            <label for="">From</label>
                                            <input type="date" name="start_date" class="form-control" style="width: 300px;font-size: 10px;height: auto">
                                            <label for="">To</label>
                                            <input type="date" name="end_date" class="form-control" style="width: 300px;font-size: 10px;height: auto">
                                            <input type="hidden" name="category" value="agent">
                                            <input type="hidden" name="emp_name" value="{{user.profile.emp_name}}">
                                            <br>
                                            <button class="btn btn-secondary" class="form-control">submit</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
-->

{% endblock %}