{% extends 'base.html' %}
{% block main %}
<style>
    .fatal {
			color: red;
		}
        #sec1_score {
            border: none;
            background: #ECECF3;
            padding: 0 10px;
        }
        label {
            margin-right: 30px;
        }
        .score {
            font-size: 18px;
            color: green;
            font-weight: 600;
        }
        h4 {
            color: #010162;
            font-weight: 800;
        }
        .container-fluid.class, .container.class {
            padding: 30px 0;
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
        .less {
            background: red !important;
            font-weight: 900;
            color: #fff;
            font-size: 18px !important;
        }
        .perfect{
            background: green !important;
            font-weight: 900;
            color: #fff;
            font-size: 18px !important;
        }
        #myscore{
            color: green;
            font-weight: 800;
        }
        input[type="radio"] {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
            transform: scale(1.5);
        }
        input[type="text"].scoree {
            font-size: 12px;
        }
        .btn-success {
            color: white;
            background-color: green !important;
            border-color: green !important;
            padding: 3px 30px;
        }
        @media (min-width:768px) {
            body {
                margin: 0 80px;
            }
        }
        @media (max-width:768px) {
            body {
                margin: 0 20px;
            }
        }
        .smallp {
            font-size: 12px;
        }
</style>
    <div class="container class pt-5 mt-5">
        <div class="row pt-5 mt-5">
            <div class="col-md-12">
              <form action="" method="POST" enctype="multipart/form-data" style="width:100%">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="emp">Employee</label>
                        <select class="form-control select2" required name="emp_id" id="emp" style="width: 100% !important;">
                            <option value="" disabled selected>Please Select</option>
                            {% for i in profiles %}
                            <option value="{{i.emp_id}}">{{i.emp_name}} ({{i.emp_id}})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="new">New Password</label>
                        <input type="password" name="new" id="new" class="form-control">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="confirm">Confirm Password</label>
                        <input type="password" name="confirm" id="confirm" class="form-control">
                    </div>
                    <div class="col-md-12 mt-3 form-group">
                        <button type="submit" class="form-control btn btn-success">Submit</button>
                    </div>
                  </div>
              </form>
            </div>
        </div>
    </div>

{% endblock %}